<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<title>Icons</title>

<input type="radio" name="radio-btn" id="radio1" class="radio-btn" checked>
<input type="radio" name="radio-btn" id="radio2" class="radio-btn">
<input type="radio" name="radio-btn" id="radio3" class="radio-btn">
<input type="radio" name="radio-btn" id="radio4" class="radio-btn">
<input type="radio" name="radio-btn" id="radio5" class="radio-btn">

<div class="container">
    <div class="navbar-container">
        <div class="navbar">
            <label for="radio1"><i class="fas fa-bolt"></i></label>
            <label for="radio2"><i class="fas fa-user"></i></label>
            <label for="radio3"><i class="fas fa-video"></i></label>
            <label for="radio4"><i class="fas fa-people-arrows"></i></label>
            <label for="radio5"><i class="fas fa-plus-circle"></i></label>
        </div>
    </div>

    <div class="slides-container">
        <div class="slides">
            <div class="slide-1">
                <div class="text text-1">
                    <h1>
                        <a href="landing">
                            <img src="../../assets/images/logo.png" style="height: 50px;width: 50px;justify-content: center ;">

                        </a>
                    </h1>
                    <h1>ViewTube</h1>
                    <p> <span>Explore more with youtube </span></p>
                </div>
            </div>

            <div class="slide-2">
                <div class="text text-2" style="width: 100%;height:100%;">


                    <app-register></app-register>

                </div>
            </div>

            <div class="slide-3">
                <div class="text text-3">
                    <h1>
                        <div class="card">

                            <div class="card_part card_part-one">
                            </div>



                            <div class="card_part card_part-two">

                            </div>

                            <div class="card_part card_part-three">
                            </div>

                            <div class="card_part card_part-four">
                            </div>

                        </div>
                        <a class="button" href="https://youtu.be/jpcHhyhmgg0" href="/register">Watch Videos ...
                        </a>
                    </h1>

                </div>
            </div>

            <div class="slide-4 ">
                <div class="text text-4 ">
                    <h1><i class="fas fa-people-arrows"></i></h1>
                    <h1>Help</h1>
                    <p>Contact Us</p>
                    <span>ViewTube@gmail.com</span><br>
                    <span>Send Feedback</span>

                </div>
            </div>

            <div class="slide-5 ">
                <div class="text text-5 ">
                    <h1>
                        <i class="fas fa-plus-circle"></i>
                    </h1>
                    <h1>More</h1>
                    <p>
                        Add more Services
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>