@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Raleway"
}

.radio-btn {
    display: none;
}

html,
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 720px;
}

.container .navbar-container {
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transition: background 0.2s ease-in;
}

.navbar {
    width: 100%;
    height: 50%;
    position: fixed;
    /*background-color: navy;*/
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: clamp(0.9rem, 2.2vw, 1.2rem);
    color: white;
}

.navbar label {
    background-color: black;
    width: 7vw;
    height: 7vw;
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

#radio1:checked~* .navbar label {
    background-color: #c3073f;
}

.navbar label:hover {
    background-color: white;
    color: black;
}

.container .slides-container {
    height: 100%;
    width: 90%;
    position: absolute;
    right: 0;
    /*background-color: teal;*/
}

.slides-container .slides {
    position: relative;
    height: 100%;
    width: 100%;
    /*background-color: saddlebrown;*/
}

.slides .slide-1,
.slides .slide-2,
.slides .slide-4,
.slides .slide-5 {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-origin: right;
}

.slides .slide-1 {
    background: #1a1a1d;
    z-index: 0;
    transition: 0.4s;
}

.slides .slide-2 {
    transform: translateX(100%);
    z-index: 1;
}

.slides .slide-3 {
    background: black;
    transform: translateX(100%);
    z-index: 1;
    transition: transform 0.5s ease-in;
    position: fixed;
    height: 100%;
    width: 100%;
}

.slides .slide-4 {
    background: rgb(255, 19, 136);
    transform: translateX(100%);
    z-index: 1;
    transition: transform 0.5s ease-in;
}

.slides .slide-5 {
    background: rgb(91, 45, 143);
    transform: translateX(100%);
    z-index: 1;
    transition: transform 0.5s ease-in;
}

.slides .text {
    width: 20%;
}

.slides .text h1 {
    margin-bottom: 30px;
    font-size: clamp(2rem, 2.5vw, 4rem);
    color: white;
    font-weight: 500;
}

.slides .text i {
    font-size: clamp(4rem, 2.5vw, 6rem);
}

.slides .text p {
    font-size: clamp(0.6rem, 2.2vw, 0.8rem);
    color: white;
    font-weight: 500;
}

.slides .text span {
    color: rgb(255, 207, 10);
}

#radio1:checked~* .navbar-container {
    background: #c3073f;
}

#radio1:not(:checked)~* .slide-1 {
    background: black;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#radio3:checked~* .slides .slide-3,
#radio2:checked~* .slides .slide-2,
#radio4:checked~* .slides .slide-4,
#radio5:checked~* .slides .slide-5 {
    animation: slides 0.6s ease-out forwards;
}

@keyframes slides {
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#radio3:not(:checked)~* .slides .slide-3,
#radio2:not(:checked)~* .slides .slide-2,
#radio4:not(:checked)~* .slides .slide-4,
#radio5:not(:checked)~* .slides .slide-5 {
    animation: slides-out 0.2s ease-out forwards
}

@keyframes slides-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

#radio3:checked~* .text,
#radio2:checked~* .text,
#radio4:checked~* .text,
#radio5:checked~* .text {
    animation: text-bounce 0.8s ease-out forwards;
}

@keyframes text-bounce {
    0% {
        transform: translateX(290%);
    }
    75% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0);
    }
}

#radio3:not(:checked)~* .text-3,
#radio2:not(:checked)~* .text-2,
#radio4:not(:checked)~* .text-4,
#radio5:not(:checked)~* .text-5 {
    transform: translateX(290%);
    animation: text-unbounce 0.2s ease-out forwards;
}

@keyframes text-unbounce {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(290%);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3c3c3c;
}

.card {
    position: relative;
    width: 1600px;
    height: 700px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 900;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX( 700px);
    background-image: url(http://www.behindwoods.com/malayalam-movies/mayaanadhi/stills-photos-pictures/mayaanadhi-stills-photos-pictures-02.jpg);
    animation: opaqTransition 16s cubic-bezier(0, 0, 0, 0.97) infinite;
    background-size: cover;
}

.card_part.card_part-two {
    z-index: 6;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ytimg.com/vi/d4EWhSD11Dg/maxresdefault.jpg);
    animation-delay: 4s;
    background-size: cover;
}

.card_part.card_part-three {
    z-index: 5;
    width: 100%;
    height: 100%;
    background-image: url(https://wallpapercave.com/dwp1x/wp9245978.jpg);
    animation-delay: 8s;
    background-size: cover;
}

.card_part.card_part-four {
    z-index: 4;
    width: 100%;
    height: 100%;
    background-image: url(https://th.bing.com/th/id/OIF.x2usdFJ4mPyuUk2TGDD5BA?w=280&h=181&c=7&r=0&o=5&dpr=1.25&pid=1.7);
    background-size: cover;
    animation-delay: 12s;
}

@keyframes opaqTransition {
    3% {
        transform: translateX( 0);
    }
    25% {
        transform: translateX( 0);
    }
    28% {
        transform: translateX( -1600px);
    }
    100% {
        transform: translateX( -1600px);
    }
}

.button {
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: none;
    width: 1500px;
    height: 50px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2vmin;
    display: inline-block;
    position: relative;
    text-align: center;
    border: 3px solid white;
    box-shadow: -0.5vmin 0.5vmin 0 rgba(white, 0.5);
    background: transparent;
    margin-top: 5vmin;
    mix-blend-mode: lighten;
    color: white;
    padding: 2vmin 2vmin 1.8vmin 2vmin;
    letter-spacing: 0.1em;
    text-shadow: none;
    line-height: 1;
    transform: translate3d(0.5vmin, -0.5vmin, 0);
    transition: all 100ms linear;
    z-index: 1000;
    cursor: pointer;
}

.button:hover {
    transform: translate3d(1vmin, -1vmin, 0);
    box-shadow: -1vmin 1vmin 0 rgba(white, 0.5);
    background: white;
    color: black;
}

.button:active {
    transform: translate3d(0px, 0px, 0);
    box-shadow: -0px 0px 0 rgba(white, 0.5);
}
